html, body {
  background-color:#000;
  width:100%;
  height:100%;
  padding:0;
  margin:0;

  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

button {
  outline:none;
  border:4px solid #fff;
  border-radius:9px;
  padding:30px;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:40px;
  width:200px;
  margin:0 auto;
  display:block;
  cursor:pointer;
}

button.on {
  background-color:#fff;
  color:#000;
}

button.off {
  color:#fff;
  background-color:#000;
}
